.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}
.login__container{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 20px;
    background-color: black;
}
.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container > form > h5 {
    margin-bottom: 5px;
}
.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: darkgrey;
    width: 98%;
}

.login__signInButton {
    background-color: lightgrey;
    border-radius: 2px;
    
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: large;
}
.login__registerButton{
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 30px;
    border-color: darkgray;
    font-size: large;
    background-color: darkgray;
}
